button {
    border: none;
    background-color: gray;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: darkgray;
}

.equals {
    grid-column: 3 / 5;
    background-color: aqua
    
    ;
}

.equals:hover {
    background-color: rgb(228, 39, 15);
}